# **AdaSchool - Proyecto Integrador**
### Parte 2: Carga de datos
###### by Gary Y. Martinez Alvis

> Continuando con la anterior sección del proyecto integrador, ahora debes realizar lo siguiente:

1. Convertir la estructura Dataset en un DataFrame de Pandas usando pd.DataFrame.

In [8]:
import pandas as pd
import numpy as np
from datasets import load_dataset

dataset = load_dataset("mstz/heart_failure")
data = dataset["train"]

In [9]:
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   age                                              299 non-null    int64
 1   has_anaemia                                      299 non-null    bool
 2   creatinine_phosphokinase_concentration_in_blood  299 non-null    float64
 3   has_diabetes                                     299 non-null    bool
 4   heart_ejection_fraction                          299 non-null    float64
 5   has_high_blood_pressure                          299 non-null    bool
 6   platelets_concentration_in_blood                 299 non-null    float64
 7   serum_creatinine_concentration_in_blood          299 non-null    float64
 8   serum_sodium_concentration_in_blood              299 non-null    float64
 9   is_male                                          299 non-null    bool
 10  is_smoker                                        299 non-null    bool
 11  days_in_study                                    299 non-null    int64
 12  is_dead                                          299 non-null    int64
dtypes: bool(5), float64(5), int64(3)
memory usage: 20.3 KB

2. Separar el dataframe en dos diferentes, uno conteniendo las filas con personas que perecieron (is_dead=1) y otro con el complemento.

In [10]:
df_is_dead = df.query('is_dead == 1')
df_is_dead['is_dead'].describe()

count    96.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: is_dead, dtype: float64

In [11]:
df_is_not_dead = df.query('is_dead != 1')
df_is_not_dead['is_dead'].describe()

count    203.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: is_dead, dtype: float64

3. Calcular los promedios de las edades de cada dataset e imprimir.

In [12]:
promd_df_is_dead = df_is_dead['age'].mean()
promd_df_is_not_dead = df_is_not_dead['age'].mean()
print(f'El promedio de edad del DataFrame df_is_dead es: {promd_df_is_dead.round(2)} años de edad promedio.')
print(f'El promedio de edad del DataFrame df_is_not_dead es: {promd_df_is_not_dead.round(2)} años de edad promedio.')

El promedio de edad del DataFrame df_is_dead es: 65.21 años de edad promedio.
El promedio de edad del DataFrame df_is_not_dead es: 58.76 años de edad promedio.

---
---

### Parte 3: Calculando analiticas simples

> Continuando con el DataFrame con todos los datos de la anterior subsección, ahora debes:

1. Verificar que los tipos de datos son correctos en cada colúmna (por ejemplo que no existan colúmnas numéricas en formato de cadena).

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   age                                              299 non-null    int64
 1   has_anaemia                                      299 non-null    bool
 2   creatinine_phosphokinase_concentration_in_blood  299 non-null    float64
 3   has_diabetes                                     299 non-null    bool
 4   heart_ejection_fraction                          299 non-null    float64
 5   has_high_blood_pressure                          299 non-null    bool
 6   platelets_concentration_in_blood                 299 non-null    float64
 7   serum_creatinine_concentration_in_blood          299 non-null    float64
 8   serum_sodium_concentration_in_blood              299 non-null    float64
 9   is_male                                          299 non-null    bool
 10  is_smoker                                        299 non-null    bool
 11  days_in_study                                    299 non-null    int64
 12  is_dead                                          299 non-null    int64
dtypes: bool(5), float64(5), int64(3)
memory usage: 20.3 KB

In [14]:
df.head(10)

,age,has_anaemia,creatinine_phosphokinase_concentration_in_blood,has_diabetes,heart_ejection_fraction,has_high_blood_pressure,platelets_concentration_in_blood,serum_creatinine_concentration_in_blood,serum_sodium_concentration_in_blood,is_male,is_smoker,days_in_study,is_dead
0,75,False,582.0,False,20.0,True,265000.00,1.9,130.0,True,False,4,1
1,55,False,7861.0,False,38.0,False,263358.03,1.1,136.0,True,False,6,1
2,65,False,146.0,False,20.0,False,162000.00,1.3,129.0,True,True,7,1
3,50,True,111.0,False,20.0,False,210000.00,1.9,137.0,True,False,7,1
4,65,True,160.0,True,20.0,False,327000.00,2.7,116.0,False,False,8,1
5,90,True,47.0,False,40.0,True,204000.00,2.1,132.0,True,True,8,1
6,75,True,246.0,False,15.0,False,127000.00,1.2,137.0,True,False,10,1
7,60,True,315.0,True,60.0,False,454000.00,1.1,131.0,True,True,10,1
8,65,False,157.0,False,65.0,False,263358.03,1.5,138.0,False,False,10,1
9,80,True,123.0,False,35.0,True,388000.00,9.4,133.0,True,True,10,1

2. Calcular la cantidad de hombres fumadores vs mujeres fumadoras (usando agregaciones en Pandas).

In [24]:
gender = df.groupby('is_male')['is_male'].size().reset_index(name='Cantidad')
gender['Genero'] = gender['is_male'].map({False: 'Mujeres', True: 'Hombres'})
gender = gender[['Genero', 'Cantidad']]
gender

    Genero  Cantidad
0  Mujeres       105
1  Hombres       194